form {
  border-top: 1px solid grey;
  width: 1200px;
  margin: 0 auto;
}

.add-book {
  margin: 2em auto;
  display: flex;
  justify-content: flex-start;
}

.add-book-input {
  padding-left: 12px;
  border: none;
  margin: 10px 10px 10px 0;
  width: 664px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.add-book-cat {
  margin-left: 0.1em;
  background-color: #0290ff;
  color: grey;
  border: 0px solid black;
  font-weight: 700;
  padding: 1em;
  cursor: pointer;
  width: 285px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.add-book-btn {
  margin: 12px 0 0 8px;
  background-color: #0290ff;
  color: white;
  border: 0px solid black;
  font-weight: 700;
  padding: 1em;
  width: 186px;
  cursor: pointer;
  border-radius: 3px;
  height: 44px;
}

.form-title {
  margin-top: 1em;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
}
