.filter-drop {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em auto;
  width: 80%;
}

span {
  margin: 1em 1em;
  font-size: 1.3em;
}

.filter-books {
  width: 400px;
  background-color: white;

  padding: 9px;
  font-size: 1.2em;

  margin: 12px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.arrow {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 28px 40px;
  background-repeat: no-repeat;
}

@media (min-width: 350px) and (max-width: 415px) {
  .filter-books {
    width: 100px;
  }
}
